{% extends "base/index.html.twig" %}

{% block headerMain %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-dark"><b>Editar Usuario</b></h1>
        <div class="align-items-center justify-content-end">
          <a href="{{ path('app_admin_users') }}" class="d-md-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fa fa-reply"></i> &nbsp; Ver el listado
          </a>
        </div>        
    </div>
{% endblock %}

{% block rowMain %}
  <div class="col">
    <div class="card">
        <div class="card-body">
            {{ form_start(userForm) }}
                {{ form_widget(userForm) }}
                <div class="form-group mt-2">
                    <a class="btn btn-secondary" href="{{ path('app_admin_users') }}">Cancelar</a>
                    <button type="submit" name="valider" class="btn btn-success">Guardar</button>
                </div>
            {{ form_end(userForm) }}
        </div>
    </div>
  </div>
{% endblock rowMain %}