{% extends "admin/bars.html.twig" %}

{% block contenpage %}
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 class="title-page">Lista de usuarios</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
								<a href="{{ path('app_admin_new_user') }}" class="btn btn-success-custom">Nuevo</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="table-responsive">
                                <table id="example" class="display table table-striped table-bordered dataminetables" >
                                    <thead>
                                        <th class="btn-table-width">Id</th>
                                        <th>Usuario</th>
										<th>Email</th>
										<th>Nombre</th>
                                        <th class="btn-table-width">Acciones</th>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                            <tr>
                                                <td class="align-middle">{{ user.id }}</td>
                                                <td class="align-middle">{{ user.username }}</td>
												<td class="align-middle">{{ user.email }}</td>
												<td class="align-middle">{{ user.nomComplet }}</td>
                                                <td class="btn-cell-table align-middle">
                                                    <a class="btn btn-primary btn-sm btn-table-margin" href="{{ path('app_admin_edit_user',{"id":user.id}) }}"><i class="fa fa-edit"></i></a>
                                                    <a class="btn btn-danger btn-sm disable-btn del-link btn-table-margin" title="Eliminar registro" href="javascript:void(0)" data-toggle="modal" data-target="#modalEliminar{{user.id}}">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal_content %}
  {% for user in users %}
    <div id="modalEliminar{{ user.id }}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          {{ include('admin/user/_delete_form.html.twig', {'id': user.id }) }}
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock modal_content %}