{% extends 'base/index-alone.html.twig' %}

{% block title %}Login | UTN{% endblock %}

{% block contenido %}

	<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center text-center " style="overflow: auto;">

			<div class="col-md-12 col-lg-4 pb-2  ">
				<div class="card h-100">
					<h1 class="mt-5 mb-2" style="color: #353535;font-weight: 600; font-family:'Jost', sans-serif; color:" >{{ site_name }}</h1>	
					<div class="card-body pt-0">											
						<form method="post" class="cardToLogin h-100">						
							<div class="mt-3 mb-2 w-100 px-4">
								<span>Usuario:</span>
								<input type="text" value="{{ last_username }}" name="username" id="inputText" class="form-control inputLoggin" required autofocus>
							</div>
							<div class="mb-2 w-100 px-4">
								<span>Contraseña:</span>
								<input type="password" name="password" id="inputPassword" class="form-control inputLoggin" required>
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							</div>
							<div>
								<a class="reset_pass mt-3" href="{{path('app_forgot_password_request')}}">¿Olvidó su contraseña?</a>
							</div>
							<div class="w-100 pb-1 px-4"  >
								<button class="btn btn-success submit mt-3 inputLoggin w-100" href="index.html">Ingresar</button>
							</div>
							<p class="pt-1 pb-0"style="font-size: 0.8rem;">
								<b>UTN</b> </br> Facultad Regional </br> <b>Provincia de La Rioja</b>
							</p>
							<div class="clearfix"></div>
							{% if error %}
								<div class="alert alert-danger">Usuario y/o contraseña incorrectos</div>
							{% endif %}
						</form>
					</div>
				</div>
			</div>
		<div class="row w-25" style="min-width:504px; min-height: 100px;">
			<div class="d-none d-md-none d-lg-block col-lg-3. pr-1 pl-0">
				<div class="card h-100">
					<div class="card-body cardToLogin" >
						<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('inicio_index') }}">
							<img id="logo-side" class="logo-side " src="{{ asset('base/img/logo.png') }}" alt="UTN" width="60">
						</a>
						<p style="font-size: 0.7rem; padding: 0 10px 0 10px ;">
							©{{ "now"|date("Y") }} </br> Publisher Manrique Lucas
						</p>
					</div>
				</div>
			</div>
		</div>
					
	</div>

{% endblock %}