{% extends "base/index.html.twig" %}

{% block headerMain %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-dark"><b>Rol: {{ rol.roleName }}</b></h1>
        <div class="align-items-center justify-content-end">
          {% if is_granted('ROLES_EDITAR') %}
            <a href="{{ path('edit_role',{"id":rol.id}) }}" class="d-md-inline-block btn btn-sm btn-primary shadow-sm">
              <i class="fa fa-edit"></i> &nbsp; Editar
            </a>
          {% endif %}
          <a href="{{ path('index_roles') }}" class="d-md-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fa fa-reply"></i> &nbsp; Ver el listado
          </a>
        </div>
    </div>
{% endblock %}

{% block rowMain %}
  <div class="col mb-2">
    <form method="post" action="{{ path('new_permiso', {'id': rol.id})}}">
      <input type="hidden" name="_method" value="POST">
      <input type="hidden" name="_token" value="{{ csrf_token('guardarRoles' ~ app.user.id) }}">
    
    <div class="row">
      {# Permisos Generales #}
      <div class="col-4">
        <div class="card shadow mb-4">
          <a href="#collapseGenerales" class="d-block card-header py-3 collapsed" data-bs-toggle="collapse" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseGenerales">
            <h6 class="m-0 font-weight-bold text-primary">Permisos Generales</h6>
          </a>
          <div class="collapse" id="collapseGenerales">
            <div class="card-body">
              <div class="form-check form-switch">
                <input 
                  class="form-check-input" name="ADMINISTRACION" type="checkbox" id="ADMINISTRACION"
                  {% if "ADMINISTRACION" in rol.getPermisos() %}checked="true"{% endif %}
                  {% if not is_granted('ROLES_EDITAR') %}disabled{% endif %}>
                <label class="form-check-label" for="ADMINISTRACION">Acceder a la administración</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" name="VER_INICIO" type="checkbox" id="VER_INICIO"
                {% if "VER_INICIO" in rol.getPermisos() %}checked="true"{% endif %}
                {% if not is_granted('ROLES_EDITAR') %}disabled{% endif %}>
                <label class="form-check-label" for="VER_INICIO">Acceder al inicio</label>
              </div>
              {% if is_granted('ROLES_EDITAR') %}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-sm btn-primary me-md-2" type="button" onClick="selectAll('collapseGenerales')">Select All</button>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {# Fin Permisos Generales #}

      {# Permisos de Administración #}
      <div class="col-4">
        <div class="card shadow mb-4">
          <a href="#collapseAdministracion" class="d-block card-header py-3 collapsed" data-bs-toggle="collapse" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseAdministracion">
            <h6 class="m-0 font-weight-bold text-primary">Permisos de Administración</h6>
          </a>
          <div class="collapse" id="collapseAdministracion">
            <div class="card-body">
              {# Permisos de Usuarios #}
              <div class="card shadow mb-4">
                <a href="#collapseUsuarios" class="d-block card-header py-3 collapsed" data-bs-toggle="collapse" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseUsuarios">
                  <h6 class="m-0 font-weight-bold text-primary">Permisos de Usuarios</h6>
                </a>
                <div class="collapse" id="collapseUsuarios">
                  <div class="card-body">
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="USERS_CREAR" type="checkbox" id="USERS_CREAR"
                      {% if "USERS_CREAR" in rol.getPermisos() %}checked="true"{% endif %}
                      {% if not is_granted('ROLES_EDITAR') %}disabled{% endif %}>
                      <label class="form-check-label" for="USERS_CREAR">Crear</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="USERS_VER" type="checkbox" id="USERS_VER"
                      {% if "USERS_VER" in rol.getPermisos() %}checked="true"{% endif %}
                      {% if not is_granted('ROLES_EDITAR') %}disabled{% endif %}>
                      <label class="form-check-label" for="USERS_VER">Ver</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="USERS_EDITAR" type="checkbox" id="USERS_EDITAR"
                      {% if "USERS_EDITAR" in rol.getPermisos() %}checked="true"{% endif %}
                      {% if not is_granted('ROLES_EDITAR') %}disabled{% endif %}>
                      <label class="form-check-label" for="USERS_EDITAR">Editar</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="USERS_ELIMINAR" type="checkbox" id="USERS_ELIMINAR"
                      {% if "USERS_ELIMINAR" in rol.getPermisos() %}checked="true"{% endif %}
                      {% if not is_granted('ROLES_EDITAR') %}disabled{% endif %}>
                      <label class="form-check-label" for="USERS_ELIMINAR">Eliminar</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="USERS_ACTIVAR" type="checkbox" id="USERS_ACTIVAR"
                      {% if "USERS_ACTIVAR" in rol.getPermisos() %}checked="true"{% endif %}
                      {% if not is_granted('ROLES_EDITAR') %}disabled{% endif %}>
                      <label class="form-check-label" for="USERS_ACTIVAR">Activar/Desactivar Cuentas</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="USERS_PASSWORD" type="checkbox" id="USERS_PASSWORD"
                      {% if "USERS_PASSWORD" in rol.getPermisos() %}checked="true"{% endif %}
                      {% if not is_granted('ROLES_EDITAR') %}disabled{% endif %}>
                      <label class="form-check-label" for="USERS_PASSWORD">Cambiar Contraseñas</label>
                    </div>
                    {% if is_granted('ROLES_EDITAR') %}
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-sm btn-primary me-md-2" type="button" onClick="selectAll('collapseUsuarios')">Select All</button>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              {# Fin Permisos de Usuarios #}
              {# Permisos de Roles #}
              <div class="card shadow mb-4">
                <a href="#collapseRoles" class="d-block card-header py-3 collapsed" data-bs-toggle="collapse" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseRoles">
                  <h6 class="m-0 font-weight-bold text-primary">Permisos de Roles</h6>
                </a>
                <div class="collapse" id="collapseRoles">
                  <div class="card-body">
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="ROLES_CREAR" type="checkbox" id="ROLES_CREAR"
                      {% if "ROLES_CREAR" in rol.getPermisos() %}checked="true"{% endif %}
                      {% if not is_granted('ROLES_EDITAR') %}disabled{% endif %}>
                      <label class="form-check-label" for="ROLES_CREAR">Crear</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="ROLES_VER" type="checkbox" id="ROLES_VER"
                      {% if "ROLES_VER" in rol.getPermisos() %}checked="true"{% endif %}
                      {% if not is_granted('ROLES_EDITAR') %}disabled{% endif %}>
                      <label class="form-check-label" for="ROLES_VER">Ver</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="ROLES_EDITAR" type="checkbox" id="ROLES_EDITAR"
                      {% if "ROLES_EDITAR" in rol.getPermisos() %}checked="true"{% endif %}
                      {% if not is_granted('ROLES_EDITAR') %}disabled{% endif %}>
                      <label class="form-check-label" for="ROLES_EDITAR">Editar</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="ROLES_ELIMINAR" type="checkbox" id="ROLES_ELIMINAR"
                      {% if "ROLES_ELIMINAR" in rol.getPermisos() %}checked="true"{% endif %}
                      {% if not is_granted('ROLES_EDITAR') %}disabled{% endif %}>
                      <label class="form-check-label" for="ROLES_ELIMINAR">Eliminar</label>
                    </div>
                    {% if is_granted('ROLES_EDITAR') %}
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-sm btn-primary me-md-2" type="button" onClick="selectAll('collapseRoles')">Select All</button>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              {# Fin Permisos de Roles #}
              {# Permisos de Reparticiones #}
              <div class="card shadow mb-4">
                <a href="#collapseReparticiones" class="d-block card-header py-3 collapsed" data-bs-toggle="collapse" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseReparticiones">
                  <h6 class="m-0 font-weight-bold text-primary">Permisos de Reparticiones</h6>
                </a>
                <div class="collapse" id="collapseReparticiones">
                  <div class="card-body">
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="REPARTICION_CREAR" type="checkbox" id="REPARTICION_CREAR"
                      {% if "REPARTICION_CREAR" in rol.getPermisos() %}checked="true"{% endif %}
                      {% if not is_granted('ROLES_EDITAR') %}disabled{% endif %}>
                      <label class="form-check-label" for="REPARTICION_CREAR">Crear</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="REPARTICION_VER" type="checkbox" id="REPARTICION_VER"
                      {% if "REPARTICION_VER" in rol.getPermisos() %}checked="true"{% endif %}
                      {% if not is_granted('ROLES_EDITAR') %}disabled{% endif %}>
                      <label class="form-check-label" for="REPARTICION_VER">Ver</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="REPARTICION_EDITAR" type="checkbox" id="REPARTICION_EDITAR"
                      {% if "REPARTICION_EDITAR" in rol.getPermisos() %}checked="true"{% endif %}
                      {% if not is_granted('ROLES_EDITAR') %}disabled{% endif %}>
                      <label class="form-check-label" for="REPARTICION_EDITAR">Editar</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="REPARTICION_ELIMINAR" data-toggle="toggle" type="checkbox" id="REPARTICION_ELIMINAR"
                      {% if "REPARTICION_ELIMINAR" in rol.getPermisos() %}checked="true"{% endif %}
                      {% if not is_granted('ROLES_EDITAR') %}disabled{% endif %}>
                      <label class="form-check-label" for="REPARTICION_ELIMINAR">Eliminar</label>
                    </div>
                    {% if is_granted('ROLES_EDITAR') %}
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-sm btn-primary me-md-2" type="button" onClick="selectAll('collapseReparticiones')">Select All</button>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              {# Fin Permisos de Reparticiones #}
            </div>
          </div>
        </div>
      </div>
      {# Fin Permisos de Administración #}
    </div>
      {% if is_granted('ROLES_EDITAR') %}
        <button class="btn btn-success float-end" type="submit" >
            Guardar
        </button>
      {% endif %}
    </form>
  </div>

{% endblock rowMain %}

{% block jsBottom %}

<script language="JavaScript">
  function selectAll(source) {
    let first = $('#'+ source + ' input[type=checkbox]')[0].checked;
    $('#'+ source + ' input[type=checkbox]').each(function() {
      $(this).prop('checked', !first)      
    });
  }
</script>

{% endblock %}