{% extends "admin/bars.html.twig" %}

{% block contenpage %}

<div class="">
  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
            <h2 class="title-page">Rol: {{ rol.roleName }}</h2>            
            <a class="btn btn-primary btn-sm float-end" style="margin-right:15px;" href="{{ app.request.headers.get('referer') }}">
              <i class="fa fa-mail-reply"></i> &nbsp; Volver atrás
            </a>
            <a class="btn btn-primary btn-sm float-end" href="{{ path('edit_role',{"id":rol.id}) }}">
              <i class="fa fa-edit"></i> &nbsp; Editar
            </a>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <form method="post" action="{{ path('new_permiso', {'id': rol.id})}}" style="display: flex;">
              <input type="hidden" name="_method" value="POST">
              <input type="hidden" name="_token" value="{{ csrf_token('guardarRoles' ~ app.user.id) }}">
              
              {# Permisos Generales #}
              <div class="col-4">                      
                <div class="x_panel">
                  <a class="collapse-link">
                    <div class="x_title">
                        <h2>Permisos Generales</h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li><i class="fa fa-chevron-up"></i></li>
                        </ul>
                      <div class="clearfix"></div>
                    </div>
                  </a>
                  <div class="x_content">
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="ADMINISTRACION"
                      {% if "ADMINISTRACION" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                      <label class="form-check-label" for="flexSwitchCheckDefault">Acceder a la administración</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="VER_INICIO"
                      {% if "VER_INICIO" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                      <label class="form-check-label" for="flexSwitchCheckDefault">Acceder al inicio</label>
                    </div>
                  </div>
                </div>                      
              </div>
              {# Fin Permisos Generales #}

              {# Permisos de Administración #}
              <div class="col-4">
                <div class="x_panel">
                  <a class="collapse-link">
                    <div class="x_title">
                        <h2>Permisos de Administración</h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li><i class="fa fa-chevron-up"></i></li>
                        </ul>
                      <div class="clearfix"></div>
                    </div>
                  </a>
                  <div class="x_content">
                    {# Permisos de Usuarios #}
                    <div class="x_panel">
                      <a class="collapse-link">
                        <div class="x_title">
                            <h2>Permisos de Usuarios</h2>                            
                            <ul class="nav navbar-right panel_toolbox">
                              <li><i class="fa fa-chevron-up"></i></li>
                            </ul>
                          <div class="clearfix"></div>
                        </div>
                      </a>
                      <div class="x_content">
                        <div class="form-check form-switch">
                          <input class="form-check-input" name="USERS_CREAR" 
                          {% if "USERS_CREAR" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Crear</label>
                        </div>
                        <div class="form-check form-switch">
                          <input class="form-check-input" name="USERS_VER" 
                          {% if "USERS_VER" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Ver</label>
                        </div>
                        <div class="form-check form-switch">
                          <input class="form-check-input" name="USERS_EDITAR"
                          {% if "USERS_EDITAR" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Editar</label>
                        </div>
                        <div class="form-check form-switch">
                          <input class="form-check-input" name="USERS_ELIMINAR" 
                          {% if "USERS_ELIMINAR" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Eliminar</label>
                        </div>
                        <div class="form-check form-switch">
                          <input class="form-check-input" name="USERS_ACTIVAR"
                          {% if "USERS_ACTIVAR" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Activar/Desactivar Cuentas</label>
                        </div>
                        <div class="form-check form-switch">
                          <input class="form-check-input" name="USERS_PASSWORD"
                          {% if "USERS_PASSWORD" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Cambiar Contraseñas</label>
                        </div>
                      </div>
                    </div>
                    {# Fin Usuarios #}
                    {# Permisos de Roles #}
                    <div class="x_panel">
                      <a class="collapse-link">
                        <div class="x_title">
                            <h2>Permisos de Roles</h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><i class="fa fa-chevron-up"></i></li>
                            </ul>
                          <div class="clearfix"></div>
                        </div>
                      </a>
                      <div class="x_content">
                        <div class="form-check form-switch">
                          <input class="form-check-input" name="ROLES_CREAR"
                          {% if "ROLES_CREAR" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Crear</label>
                        </div>
                        <div class="form-check form-switch">
                          <input class="form-check-input" name="ROLES_VER"
                          {% if "ROLES_VER" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Ver</label>
                        </div>
                        <div class="form-check form-switch">
                          <input class="form-check-input" name="ROLES_EDITAR"
                          {% if "ROLES_EDITAR" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Editar</label>
                        </div>
                        <div class="form-check form-switch">
                          <input class="form-check-input" name="ROLES_ELIMINAR"
                          {% if "ROLES_ELIMINAR" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Eliminar</label>
                        </div>                                
                      </div>
                    </div>
                    {# Fin Roles #}
                    {# Permisos de Reparticiones #}
                    <div class="x_panel">
                      <a class="collapse-link">
                        <div class="x_title">
                            <h2>Permisos de Reparticiones</h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><i class="fa fa-chevron-up"></i></li>
                            </ul>
                          <div class="clearfix"></div>
                        </div>
                      </a>
                      <div class="x_content">
                        <div class="form-check form-switch">
                          <input class="form-check-input" name="REPARTICION_CREAR"
                          {% if "REPARTICION_CREAR" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Crear</label>
                        </div>
                        <div class="form-check form-switch">
                          <input class="form-check-input" name="REPARTICION_VER"
                          {% if "REPARTICION_VER" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Ver</label>
                        </div>
                        <div class="form-check form-switch">
                          <input class="form-check-input" name="REPARTICION_EDITAR"
                          {% if "REPARTICION_EDITAR" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Editar</label>
                        </div>
                        <div class="form-check form-switch">
                          <input class="form-check-input" name="REPARTICION_ELIMINAR"
                          {% if "REPARTICION_ELIMINAR" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Eliminar</label>
                        </div>                                
                      </div>
                    </div>
                    {# Fin Reparticiones #}
                  </div>
                </div>
              </div>
              {# FIN Permisos de Administración #}

              {# Permisos de Ejemplo #}
              <div class="col-4">
                <div class="x_panel">
                  <a class="collapse-link">
                    <div class="x_title">
                        <h2>Permisos de Ejemplo</h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li><i class="fa fa-chevron-up"></i></li>
                        </ul>
                      <div class="clearfix"></div>
                    </div>
                  </a>
                  <div class="x_content">
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="EJEMPLO2_CREAR"
                      {% if "EJEMPLO2_CREAR" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                      <label class="form-check-label" for="flexSwitchCheckDefault">Permiso ejemplo 1</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="EJEMPLO2_VER"
                      {% if "EJEMPLO2_VER" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                      <label class="form-check-label" for="flexSwitchCheckDefault">Permiso ejemplo 2</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="EJEMPLO2_EDITAR"
                      {% if "EJEMPLO2_EDITAR" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                      <label class="form-check-label" for="flexSwitchCheckDefault">Permiso ejemplo 3</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" name="EJEMPLO2_ELIMINAR"
                      {% if "EJEMPLO2_ELIMINAR" in rol.getPermisos() %}checked="true"{% endif %} type="checkbox" id="flexSwitchCheckDefault">
                      <label class="form-check-label" for="flexSwitchCheckDefault">Permiso ejemplo 4</label>
                    </div>                                
                  </div>
                </div>                  
              </div>
              {# Fin Ejemplo #}
            </div>
            <button class="btn btn-success float-right" type="submit" >
              Guardar
            </button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock contenpage %}