{# Logo Top #}
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
        <img id="logo-side" class="logo-side" src="{{ asset('base/img/logo.png') }}" alt="TSJ" width="50">
    </div>
</a>
<hr class="sidebar-divider my-0">

{# Menú Side #}
<li class="nav-item {{currentPath == 'inicio_index' ? 'active' : ''}}">
    <a class="nav-link" href="{{ path('inicio_index') }}">        
        <i class="fa fa-home"></i>
        <span>Home</span>
    </a>
</li>
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Ejemplo Sección
</div>

<!-- Nav Item - Charts -->
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Ejemplo simple</span>
    </a>
</li>

{# Ejemplo #}
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
        aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Ejemplo</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Título Ejemplo</h6>
            <a class="collapse-item" href="#">Ejemplo 1</a>
            <a class="collapse-item" href="#">Ejemplo 2</a>
            <a class="collapse-item" href="#">Ejemplo 3</a>
        </div>
    </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

{# Administración #}
<li class="nav-item {{ currentPath in opciones ? 'active' : '' }}">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="fa fa-cog"></i>
        <span>Administración</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{{ path('app_admin_users') }}">
                <i class="fa fa-user text-gray-600"></i> &nbsp; Usuarios
            </a>
            <a class="collapse-item" href="{{ path('index_roles') }}">
                <i class="fa fa-list-alt text-gray-600"></i> &nbsp; Roles
            </a>
            <a class="collapse-item" href="{{ path('index_reparticion') }}">
                <i class="fa fa-bookmark text-gray-600"></i> &nbsp; Reparticiones
            </a>
        </div>
    </div>
</li>
