{% extends 'base/index-alone.html.twig' %}

{% block title %}Recuperación de contraseña{% endblock %}

{% block contenido %}
	<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center text-center" style="overflow: auto;">
		<div class="row w-25" style="min-width:400px; height: 300px;">
			<div class="d-none d-md-none d-lg-block col-lg-4 pr-1 pl-0">
				<div class="card h-100">
					<div class="card-body cardToLogin">
						<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('inicio_index') }}">
							<img id="logo-side" class="logo-side" src="{{ asset('base/img/logoutn.png') }}" alt="UTN" width="80">
						</a>
						<p style="font-size: 0.7rem;">
							©{{ "now"|date("Y") }} </br> <b> UTN </b> Facultad Regional </br>La Rioja
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-8 pl-0 pr-0">
				<div class="card h-100">
					<h5 class="mt-4 mb-2" style="color: black;font-weight: 600;">{{ site_name }}</h5>
					<div class="w-100">
						{{ form_start(resetForm) }}
							{{ form_row(resetForm.plainPassword) }}
							<button class="btn btn-primary mt-2">Cambiar contraseña</button>
						{{ form_end(resetForm) }}
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
{% endblock %}