{% extends "admin/bars.html.twig" %}

{% block contenpage %}
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 class="title-page">Lista de reparticiones</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a href="{{ path('new_reparticion') }}" class="btn btn-success-custom">Nuevo</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="table-responsive">
                                <table id="example" class="display table table-striped table-bordered dataminetables" >
                                    <thead>                                      
                                        <th class="btn-table-width">Id</th>
                                        <th>Nombre</th>
                                        <th class="btn-table-width">Acciones</th>
                                    </thead>
                                    <tbody>
                                        {% for reparticion in reparticiones %}
                                            <tr>
                                                <td class="align-middle">{{ reparticion.id }}</td>
                                                <td class="align-middle">{{ reparticion.nombre }}</td>
                                                <td class="btn-cell-table align-middle">
                                                    <a class="btn btn-primary btn-sm btn-table-margin" href="{{ path('edit_reparticion',{"id":reparticion.id}) }}"><i class="fa fa-edit"></i></a>
                                                    <a class="btn btn-danger btn-sm disable-btn del-link btn-table-margin" title="Eliminar registro" href="javascript:void(0)" data-toggle="modal" data-target="#modalEliminar{{reparticion.id}}">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal_content %}
  {% for reparticion in reparticiones %}
    <div id="modalEliminar{{ reparticion.id }}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          {{ include('admin/reparticion/_delete_form.html.twig', {'id': reparticion.id }) }}
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock modal_content %}